.cover{
    background-image: url("../img/tickets.png");
    background-repeat: no-repeat;
    height: 1400px;
    background-size: contain;
    width:100%;
    position: absolute;
    float: left;
}
.tick{
    height: auto;
    width: 100%;
    background-image: url("../img/tickets.png");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;

}

.intro-header{
    margin-bottom: inherit !important;
    background-color: #000000;
}

#logo{
    height: auto;
    width:100%;
}
.navbar-brand{
    text-align: center;
    float: left;
}
.iena{
    background: url(../img/iena.png) no-repeat center ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: solid;
    border-radius: 2px;
}
.art{
    background: url(../img/art.png) no-repeat center ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: solid;
    border-radius: 2px;
}
.invalides{
    background: url(../img/invalides.png) no-repeat center ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: solid;
    border-radius: 2px;
}
.mirabeau{
    background: url(../img/mirabeau.png) no-repeat center ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: solid;
    border-radius: 2px;
}
.neuf{
    background: url(../img/neuf.png) no-repeat center ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: solid;
    border-radius: 2px;
}
h3{
    text-align: center;
    color: #ffffff;
}
h2{
    text-align: center;
    color: #ffffff;
}
h2:hover{
    color: #ffffff;
    text-decoration: none !important;
}
h3:hover{
    color: #ffffff;
    text-decoration: none !important;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}