
/*
$maCouleur: white;
$font1 : "action-man";
$font2 : "newrock";
*/
@font-face {
    font-family: 'coolvetica';
    src: url('../fonts/coolvetica_rg-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'capture';
    src: url('../fonts/Capture_it-webfont.eot');
    src: url('../fonts/Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Capture_it-webfont.woff') format('woff'),
         url('../fonts/Capture_it-webfont.ttf') format('truetype'),
         url('../fonts/Capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


h2{
	text-align: center;
    color: #ffffff;
		&:hover{
		color:#ffffff;
		text-decoration: none !important;
		}
}

h3{
	text-align: center;
    color: #ffffff;
		&:hover{
    	color: #ffffff;
    	text-decoration: none !important;
    	}	
}

a{
    text-decoration: none;
    	&:hover{
    	text-decoration: none;
		}
}
.intro-header{
    margin-bottom: inherit !important;
    background-color: #000000;
}
.thumbnail{
    border:solid;
    border-radius: 5px;
}

#logo{
    height: auto;
    width:100%;
}
.navbar-brand{
    text-align: center;
    float: left;
    font-family:"capture" !important;
    font-size: 30px !important;
}
.navbar-custom{
  font-family:"coolvetica" !important;
  font-size: 30px !important;
}
.bouton-ticket{
  background: url(../img/button.png) no-repeat center;
  background-size: 100% 100%;
	background-repeat:no-repeat;
	margin-top : 30px;
	margin-bottom : 30px;
  padding-top: 10px ;
  padding-bottom: 10px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  h2{
    font-family:"capture";
  }
  h3{
    font-family:"coolvetica";
  }
}
footer {
  padding-top: 30px;
  padding-bottom: 40px;
  margin-top: 0px;
  border-top: 3px solid #660000;
  color: white;
  text-align: center;
  background-color: #252623 !important;
  border-color: black !important;
}
.artist-background{
    background: url(../img/bricks.jpg) repeat;
}
.bloc-contain{
    p{
        color:white;
        text-align: center;
        font-family: "coolvetica";
        font-size: 30px;

    }
}

#map{
  height: 500px;
  border: solid;
  border-radius: 5px;
  border-color: #404040;
}
.carte{
  padding-top: 30px;
  h3{
    color: #212121 !important;
    font-family: "coolvetica";
    padding-bot: 20px;
  }
}

